.item-plus {
  font-size: 100px;
  font-weight: 100;
  line-height: 95px;
  text-align: center;
  color: #fff;
}

.item-circle {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 2px #fff;
  margin: 15px;
}

.item-circle-icon {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  margin: 15px 15px 30px 15px;
}

.item-title {
  position: absolute;
  text-align: center;
  top: 110px;
  font-size: 13px;
  line-height: 14px;
  font-weight: lighter;
  color: #fff;
  width: 100px;
  height: 30px;
}

.symbol-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
}

/*start checkboxstyling*/

/*create new checkbox*/

.done-circle-checked {
  height: 10px;
  width: 10px;
  position: relative;
  left: 2px;
  top: 5px;
  z-index: 5px;
}

/**
 * Create the box for the checkbox
 */
.done-circle-checked label {
	cursor: pointer;
	position: absolute;
	width: 35px;
	height: 35px;
	top: -5px;
  left: -5px;
	background: #f4a804;
  border-radius: 50%;
}

/**
 * Display the tick inside the checkbox
 */
.done-circle-checked label:after {
	opacity: 0.4;
	content: '';
	position: absolute;
	width: 12px;
	height: 7px;
	background: transparent;
	top: 9px;
	left: 9px;
	border: 5px solid white;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */

.done-circle-checked label:hover::after {
	opacity: 0.7;
}

/**
 * Create the checkbox state for the tick
 */

.done-circle-checked input[type=checkbox]:checked + label:after {
	opacity: 1;
}

/*end checkboxstyling*/

.remove {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #F6413B;
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  cursor: pointer;
}

.remove-icon {
  font-size: 50px;
  color: white;
  font-weight: 500;
  line-height: 26px;
}
