

.calendarWrapper {
  width: 100%;
  background-color: white;
  font-size: 24px;
}

.calendarHeaderRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.weekWrapper {
  width: 100%;
  background-color: white;
}

.weekDay {
  background-color: pink;
  display: inline;
  width: 40px;
}

.calendarLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calendarLineRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.taskInfo {
  width: 40px;
}

.calendarBox {
  text-align: center;
  background-color: yellow;
  display: inline;
  width: 40px;
  font-size: 10px;
}
